<nav class="navbar navbar-expand-lg navbar-dark bg-danger">
  <a class="navbar-brand" href="/">
    <i class="fas fa-shopping-cart"></i> BIIT</a
  >
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/products"
          >Shop <span class="sr-only">(current)</span></a
        >
      </li>
    </ul>
    <ul class="navbar-nav ml-auto">
      <% if(isLoggedIn) {%>
      <li class="nav-item dropdown active">
        <a
          class="nav-link dropdown-toggle"
          href="#"
          id="navbarDropdown"
          role="button"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
        >
          Dropdown
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <!-- MAKE THIS A LINK TO THE CURRENT USER PROFILE -->
          <a class="dropdown-item" href="/users/<%= profile.id %>">Profile</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Check My Cart</a>
          <a class="dropdown-item" href="/products/addProduct">Add An Item</a>
        </div>
      </li>
      <% if(isAdmin) {%>
      <li class="nav-item active">
        <a href="/admin" class="nav-link">Admin Panel</a>
      </li>
      <%}%>
      <li class="nav-item active">
        <a href="/auth/logout" class="nav-link">Logout</a>
      </li>
      <% } else {%>
      <li class="nav-item active">
        <a href="/auth/login" class="nav-link">Login</a>
      </li>
      <li class="nav-item active">
        <a href="/auth/signup" class="nav-link">Signup</a>
      </li>
      <%}%>
    </ul>
  </div>
</nav>
